// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: #000;
  font-family: $sans;
  margin: 0;
}

footer {
  .social-net-facebook, .social-net-twitter { 
    background-color: lighten($secondary-color, 10%);
  }
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

li {
  display: inline-block;
  list-style: none;
  @include font-size(14);
}

ul, ol {
  margin: 0;
  padding: 0;
}

.social-net-facebook, .social-net-twitter {
  border-radius: 20px;
  display: block;
  height: 40px;
  margin-bottom: -12px;
  margin-left: 12px;
  width: 40px;
}

.social-net-facebook {
  background: url(../img/facebook.png) no-repeat;
}

.social-net-twitter {
  background: url(../img/twitter.png) no-repeat;
}

