// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $sans;
  color: #000;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  @include font-size(14);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}