//
// Layout styles
//

.header-content {
  height: 300px;
  @extend %content;
  @extend %container;
}

.l-acerca, .l-patrocinadores, .l-registro {
  @extend %content;
  padding: 100px 0;
}

footer {
  padding: 0 20px;
  background-color: $second-color;
  .footer-nav {
    @extend %container;
  }
}