//
// Layout styles
//

.header-content {
  height: 250px;
  @extend %content;
}

.main-contein {
	@extend %content;
	.article-contein {
		width: 620px;
		float: left;
		padding: 0 20px; 
	}
}

footer {
  padding: 150px 0 60px 0;
  background-color: $secondary-color;
  .footer-nav {
    @extend %container;
  }
}