//
// Mixins
//

// font-size mixin
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

// Botón
@mixin button($font-size, $border-radius, $background-color, $text-color: #fff) {
  display: block;
  @include font-size($font-size);
  padding: 0.5em 2em;
  border: none;
  border-radius: $border-radius;
  background-color: $background-color;
  color: $text-color;
}

// nav:hover mixin
@mixin hover-nav($color, $amount: 6%) {
  text-decoration: none;
  background-color: lighten($color, $amount);
}

// Borde bottom style
@mixin borde-bottom($border-width, $color) {
  border-bottom: $border-width solid $color;
}

// Placeholder Color
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}