// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$form-button: #2aa9e0; //Celeste
$nav-hover: #4bbcc4; // Turquesa Claro
$link-out-page: #fe7300; // Naranja
$main-color: #00a0aa;  // Turquesa
$secondary-color: #cdcdcd;  // Gris claro
$text-nav: #ffffff; // Blanco
$text-footer: #5b5b5b; // Gris oscuro

// Layout
$max-width: 1400px;
$content-width: 960px;