// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$hover-nav: #51b8c9; // turqueza claro
$texto-footer: #5d5d5d; // Gris oscuro
$link-out-page: #ff7800;  // Naranja
$main-color: #00a0aa; // turqueza
$second-color: #cdcdcd; // Gris claro
$subscribe-botton: #2aa9e0; // azul

// Layout
$max-width: 1400px;
$content-width: 960px;