// 
// Variables
//

// @import Tipografía Roboto
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

// Tipografía
$sans: 'Roboto', Helvetica, Arial, sans-serif;

// Colores
$form-button: #2aa9e0; //Celeste
$link-out-page: #fe7300; // Naranja
$main-color: #00a0aa;  // Turquesa
$secondary-color: #cdcdcd;  // Gris claro
$text-nav: #ffffff; // Blanco
$text-footer: #5b5b5b; // Gris oscuro

// Layout
$max-width: 1400px;
$content-width: 960px;