//
// Estilos para los articulos
//


.article-contein {
	p, a {
		@include font-size(16);
		padding-bottom: 10px;
		margin: 0;
	}

	h2 {
		@include font-size(20);
		margin: 20px 0 10px 0;
	}

	article {
		@include borde-bottom(2px, $secondary-color);
	}

	.last-article {
		padding-bottom: 50px;
	}
}

.link-read-more {
	color: $main-color;
	display: block;
	padding-bottom: 20px;
	font-weight: bold;
	&:after {
		content: ">" ;
		@include font-size(12);
		margin-left: 5px;  
	}
}

.img-example {
	width: 240px;
	height: 200px;
	background-color: $secondary-color;
	float: left;
	margin-right: 15px;
}

.link-see-more {
	@include button(18, 4px, $main-color);
	margin: 0 auto;
	margin-top: -20px;
}

.main-article {
	h2 {
		@include font-size(26);
		margin: 0;
	}
	p {
		padding-top: 10px;
	}
}		