//
// Estilos del header
//

header {
  background-color: $main-color;
  color: $text-nav;
}

.header-content {
  text-align: left;
  h1 {
    padding: 20px 0 10px 0;
    @include font-size(42);
    text-transform: uppercase;
  }
}


//
// Estilos para la navegación
//

nav {
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    @include font-size(20);
  }
}

// Navegación principal

.main-nav {
  a {
    color: $text-nav;
    display: block;
    font-family: $sans;
    margin-right: 10px;
    padding: 5px;
    &:hover {
      @include hover-nav($main-color)
    }
  }
}

.social-net {
  float: right;
  margin-top: 55px;
  & li:first-child  {
    @include font-size(20);
  }
}


// Navegación footer


.footer-nav {
  li {
    color: $text-footer;
  }
  a {
    color: $text-footer;
    display: block;
    font-family: $sans;
    margin-right: 10px;
    padding: 5px;
    &:hover {
      @include hover-nav($secondary-color)
    }
  }
}

.social-net-footer {
  margin-left: 190px;
}