//
// Estilos del header
//

header {
  background-color: $main-color;
}

.header-content {
  text-align: left;
}

//
// Estilos para la navegación
//

nav {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
  }
}

// Navegación principal

.main-nav {
  a {
    color: $text-nav;
    display: block;
    height: 100px;
    padding: 0 30px;
    font-family: $sans;
    @include font-size(20);
  }
}

// Navegación footer
.footer-nav {
  li {
    padding: 0 5px;
  }
  a {
    display: block;
    border-bottom: 1px #fff solid;
    color: $text-footer;
    padding: 5px;
    font-family: $sans;
  }
}